includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    ignoreErrors:
        -
            message: '/Call to an undefined method object::getProvider\(\)./'
            path: src/Externals/ORM/Subscribers/ProtectedFlushSubscriber.php
        -
            message: '/Parameter \#1 \$className \(string\) of method Tests\\LoyaltyCorp\\Multitenancy\\Stubs\\Vendor\\Doctrine\\ORM\\EntityManagerStub::getClassMetadata\(\) should be contravariant with parameter \$className \(mixed\) of method Doctrine\\ORM\\EntityManagerInterface::getClassMetadata\(\)/'
            path: tests/Stubs/Vendor/Doctrine/ORM/EntityManagerStub.php
        -
            message: '/Return type \(Doctrine\\Common\\Persistence\\Mapping\\ClassMetadata\) of method Tests\\LoyaltyCorp\\Multitenancy\\Stubs\\Vendor\\Doctrine\\ORM\\EntityManagerStub::getClassMetadata\(\) should be covariant with return type \(Doctrine\\ORM\\Mapping\\ClassMetadata\) of method Doctrine\\ORM\\EntityManagerInterface::getClassMetadata\(\)/'
            path: tests/Stubs/Vendor/Doctrine/ORM/EntityManagerStub.php
        -
            message: '#Call to function is_array\(\) with object|string will always evaluate to false\.#'
            path: src/Middleware/ProviderMiddleware.php
        -
            message: '#Strict comparison using === between false and false will always evaluate to true\.#'
            path: src/Middleware/ProviderMiddleware.php
        -
            message: '#Call to static method PHPUnit\\Framework\\Assert::assertSame\(\) with (.*) and object|string will always evaluate to false.\.#'
            path: tests/Unit/Middleware/ProviderMiddlewareTest.php
        -
            message: '/Method Tests\\LoyaltyCorp\\Multitenancy\\Stubs\\Externals\\FlowConfig\\DoctrineConfigStub::set\(\) has parameter \$value with no typehint specified\./'
            path: tests/Stubs/Externals/FlowConfig/DoctrineConfigStub.php
        -
            message: '/Method Tests\\LoyaltyCorp\\Multitenancy\\Stubs\\Externals\\FlowConfig\\DoctrineEntityConfigStub::setByEntity\(\) has parameter \$value with no typehint specified\./'
            path: tests/Stubs/Externals/FlowConfig/DoctrineEntityConfigStub.php
        -
            message: '/Parameter #2 \$entity of method LoyaltyCorp\\Multitenancy\\Externals\\Interfaces\\ORM\\EntityManagerInterface::findByIds\(\) expects object\|string, array given./'
            path: tests/Unit/Externals/ORM/EntityManagerTest.php
        -
            message: '#Call to function is_object\(\) with object will always evaluate to true.#'
            path: src/Externals/ORM/EntityManager.php
        -
            message: '#Result of && is always false.#'
            path: src/Externals/ORM/EntityManager.php
        -
            message: '#Strict comparison using === between true and false will always evaluate to false.#'
            path: src/Externals/ORM/EntityManager.php
